header.header--principal
	.logo.logo--header: img(src="../images/logo--header.svg")
	nav.nav--header: ul
		li: a(href="../html/pagina-principal.html") Inicio
		li: a(href="../html/perfil.html") Perfil
		li: a(href="../html/articulo.html") Articulos
	a(href="../html/resultados-busqueda.html" class="header__busqueda")
		i.fas.fa-search
		span Search